form {
    padding: 20px;
}

form a {
    color: inherit;
    font-weight: 700;
    border-bottom: 2px solid #ffb300;
}

form a:hover {
    color: darkred;
    border: none;
    text-decoration: none;
}

form small {
    font-size: 14px;
}

form ul {
    list-style-type: none;
    padding: 0px;
}

input,
textarea {
    padding: 5px 15px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 300px;
    margin: 0px;
    max-width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-size: 0.7em auto;
    background-position: right 0.7em center;
    padding: 5px 15px;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
      <polygon points='0,0 60,0 30,40' style='fill:gray;'/> \
    </svg>");
}

.form-image {
    max-width: 100%;
    height: auto;
}

.form-label {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
}

.form-required {
    color: darkred;
    font-size: 20px;
}

.form-checkbox {
    display: inline-block;
}

.form-checkbox-item {
    display: block;
}

.form-checkbox-item label {
    margin: 8px;
    vertical-align: middle;
}

.form-line {
    margin-bottom: 30px;
}

.form-sub-label {
    font-size: 14px;
    color: #555;
    margin: 5px 15px 10px;
    display: block;
}

.form-submit-button {
    background: #ffb300;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    border: 0px;
}

.form-submit-button:hover {
    background: #000;
    color: #fff;
}

@media screen and (min-width:997px) {
    form {
        padding-left: 50px;
    }
}
