@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
    background-size: 176px 176px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 176 176'%3E%3Cstyle%3E.st0%7Bfill:%23232323%7D%3C/style%3E%3Cpath class='st0' d='M4.3 87.4H0v2h2.2v4.4H0v2h4.3zM3.2 78.4H0v1.5h1.7v3.3H0v1.5h3.2zM2.7 68.8H0v1.3h1.4v2.8H0v1.2h2.7zM4.3 57.2H0v2h2.2v4.4H0v2.1h4.3zM3.7 47.7H0v1.8h1.9v3.8H0V55h3.7zM4.1 37.2H0v2h2.1v4.2H0v2h4.1zM4.5 26.8H0v2.1h2.4v4.7H0v2.1h4.5zM2.7 18.6H0v1.2h1.4v2.7H0v1.3h2.7zM3.1 8.1H0v1.5h1.6v3.1H0v1.5h3.1zM2.9 0H1.5v2.6H0V4h2.9zM171.9 95.8h4.1v-2h-2.1v-4.4h2.1v-2h-4.1zM172.9 84.7h3.1v-1.5h-1.5v-3.3h1.5v-1.5h-3.1zM173.4 74.1h2.6v-1.2h-1.3v-2.8h1.3v-1.3h-2.6zM171.8 65.7h4.2v-2.1h-2.1v-4.4h2.1v-2h-4.2zM172.4 55h3.6v-1.7h-1.8v-3.8h1.8v-1.8h-3.6zM172 45.4h4v-2h-2v-4.2h2v-2h-4zM171.6 35.7h4.4v-2.1h-2.2v-4.7h2.2v-2.1h-4.4zM173.5 23.8h2.5v-1.3h-1.3v-2.7h1.3v-1.2h-2.5zM173.1 14.2h2.9v-1.5h-1.5V9.6h1.5V8.1h-2.9zM176 4V2.6h-1.4V0h-1.4v4zM10.1 100.1v6.8h6.8v-6.8h-6.8zm5.2 5.2h-3.5v-3.5h3.5v3.5zM17.9 87.2H9.1V96h8.8v-8.8zm-2.1 6.7h-4.5v-4.5h4.5v4.5zM11.2 79.3v4.6h4.6v-4.6h-4.6zm3.5 3.4h-2.4v-2.4h2.4v2.4zM17.9 67.1H9.1v8.8h8.8v-8.8zm-2.1 6.6h-4.5v-4.5h4.5v4.5zM17.8 57.1H9.2v8.6h8.6v-8.6zm-2.1 6.6h-4.5v-4.5h4.5v4.5zM16.6 54.5v-6.3h-6.3v6.3h6.3zm-4.7-4.8h3.2V53h-3.2v-3.3zM17.4 37.4H9.6v7.9h7.9v-7.9zm-1.9 5.9h-4.1v-4.1h4.1v4.1zM16.2 28.6h-5.3v5.3h5.3v-5.3zm-1.3 4h-2.8v-2.8h2.8v2.8zM15.5 19.2h-3.9v3.9h3.9v-3.9zm-1 3h-2v-2h2v2zM15.4 9.2h-3.8V13h3.8V9.2zm-.9 2.9h-2v-2h2v2zM16.2 3.8V0h-1.3v2.5h-2.8V0h-1.3v3.8zM54.6 95.2h7.1V88h-7.1v7.2zm1.8-5.5h3.7v3.7h-3.7v-3.7zM55.3 78.6v5.8h5.8v-5.8h-5.8zm4.4 4.4h-3v-3h3v3zM62.1 67.5h-7.9v7.9h7.9v-7.9zm-1.9 6h-4.1v-4.1h4.1v4.1zM53.7 65.9h9v-9h-9v9zm2.2-6.8h4.6v4.6h-4.6v-4.6zM61.1 48.4h-5.9v5.9h5.9v-5.9zm-1.4 4.5h-3v-3h3v3zM55.8 43.7h4.9v-4.9h-4.9v4.9zm1.2-3.6h2.5v2.5H57v-2.5zM56.1 29.1v4.2h4.2v-4.2h-4.2zm3.2 3.2h-2.2v-2.2h2.2v2.2zM61 18.4h-5.6V24H61v-5.6zm-1.3 4.2h-2.9v-2.9h2.9v2.9zM60.2 9.2h-4v4h4v-4zm-1 3h-2.1v-2.1h2.1v2.1zM60.9 3.8V0h-1.3v2.5h-2.8V0h-1.3v3.8zM30.4 98.6h-4v4h4v-4zm-1 3h-2.1v-2.1h2.1v2.1zM24.2 95.8h8.5v-8.5h-8.5v8.5zm2-6.4h4.4v4.4h-4.4v-4.4zM23.9 86.1h9v-9h-9v9zm2.2-6.9h4.7v4.7h-4.7v-4.7zM32.8 67.1H24v8.8h8.8v-8.8zm-2.1 6.6h-4.5v-4.5h4.5v4.5zM31.4 64.5v-6.1h-6.1v6.1h6.1zm-4.6-4.7H30V63h-3.1v-3.2zM32.3 47.4h-7.9v7.9h7.9v-7.9zm-1.9 6h-4.1v-4.1h4.1v4.1zM32.7 37H24v8.7h8.7V37zm-2.1 6.5h-4.5V39h4.5v4.5zM30.6 33.4v-4.3h-4.3v4.3h4.3zm-3.3-3.3h2.2v2.2h-2.2v-2.2zM31 18.6h-5.1v5.1H31v-5.1zm-1.3 3.9H27v-2.7h2.7v2.7zM31.1 8.4h-5.4v5.4h5.4V8.4zm-1.3 4.1H27V9.7h2.8v2.8zM32.2 4.9V0h-1.8v3.1h-4V0h-1.8v4.9zM40.4 94.5h5.9v-5.9h-5.9v5.9zm1.4-4.4h3.1v3.1h-3.1v-3.1zM45.4 83.6v-4.1h-4.1v4.1h4.1zm-3.2-3.1h2.1v2.1h-2.1v-2.1zM41 73.7h4.5v-4.5H41v4.5zm1.1-3.4h2.3v2.3h-2.3v-2.3zM41.2 59.4v4.1h4.1v-4.1h-4.1zm3.2 3.1h-2.1v-2.1h2.1v2.1zM47 47.7h-7.3V55H47v-7.3zm-1.8 5.6h-3.8v-3.8h3.8v3.8zM40.1 38.1v6.4h6.4v-6.4h-6.4zM45 43h-3.3v-3.3H45V43zM47.6 26.9H39v8.7h8.7v-8.7zm-2 6.6h-4.5V29h4.5v4.5zM46.4 18.1h-6.2v6.2h6.2v-6.2zm-1.5 4.7h-3.2v-3.2h3.2v3.2zM45.2 9.3h-3.8V13h3.8V9.3zm-.9 2.8h-1.9v-1.9h1.9v1.9zM45.4 3.2V0h-1v2.2h-2.2V0h-1v3.2zM69.5 105.2h7.2V98h-7.2v7.2zm1.8-5.4H75v3.7h-3.7v-3.7zM70.8 89.3v4.5h4.5v-4.5h-4.5zm3.5 3.5H72v-2.3h2.3v2.3zM68.7 85.9h8.8v-8.8h-8.8v8.8zm2.2-6.6h4.5v4.5h-4.5v-4.5zM68.5 76.1h9.2v-9.2h-9.2v9.2zm2.3-7h4.7v4.7h-4.7v-4.7zM75.4 63.7v-4.6h-4.6v4.6h4.6zm-3.5-3.5h2.4v2.4h-2.4v-2.4zM76.4 48.1h-6.6v6.6h6.6v-6.6zm-1.6 5h-3.4v-3.4h3.4v3.4zM76.3 38.1h-6.4v6.4h6.4v-6.4zM74.8 43h-3.3v-3.3h3.3V43zM75.8 28.6h-5.4V34h5.4v-5.4zm-1.3 4h-2.8v-2.8h2.8v2.8zM75.2 23.2v-4.1h-4.1v4.1h4.1zm-3.1-3.1h2.1v2.1h-2.1v-2.1zM75.2 9H71v4.3h4.3V9zm-1 3.2H72V10h2.2v2.2zM76.8 4.7V0H75v3h-3.8V0h-1.7v4.7zM83.9 95.7h8.3v-8.3h-8.3v8.3zm2-6.3h4.3v4.3h-4.3v-4.3zM85.5 79v5.1h5.1V79h-5.1zm3.8 3.8h-2.6v-2.6h2.6v2.6zM83.8 75.7h8.5v-8.5h-8.5v8.5zm2-6.4h4.4v4.4h-4.4v-4.4zM92.1 57.3h-8.2v8.2h8.2v-8.2zm-2 6.2h-4.2v-4.2h4.2v4.2zM84.4 55h7.2v-7.2h-7.2V55zm1.8-5.5h3.7v3.7h-3.7v-3.7zM90.3 43.6V39h-4.5v4.5h4.5zm-3.4-3.5h2.3v2.3h-2.3v-2.3zM90.7 28.6h-5.4V34h5.4v-5.4zm-1.3 4h-2.8v-2.8h2.8v2.8zM91.7 17.5h-7.3v7.3h7.3v-7.3zm-1.8 5.6h-3.8v-3.8h3.8v3.8zM91.8 7.4h-7.5v7.5h7.5V7.4zM90 13.1h-3.9V9.2H90v3.9zM90.9 4V0h-1.4v2.6h-3V0h-1.4v4zM107.2 87.3h-8.6v8.6h8.6v-8.6zm-2.1 6.5h-4.4v-4.4h4.4v4.4zM105 83.6v-4.1h-4.1v4.1h4.1zm-3.1-3.1h2.1v2.1h-2.1v-2.1zM99.3 75.1h7.3v-7.3h-7.3v7.3zm1.7-5.5h3.8v3.8H101v-3.8zM100.3 64h5.2v-5.2h-5.2V64zm1.3-3.9h2.7v2.7h-2.7v-2.7zM100.9 49.3v4.1h4.1v-4.1h-4.1zm3.1 3.1h-2.1v-2.1h2.1v2.1zM107.2 37h-8.6v8.6h8.6V37zm-2 6.5h-4.4V39h4.4v4.5zM105.8 34.2v-5.8H100v5.8h5.8zm-4.4-4.5h3v3h-3v-3zM106.2 17.9h-6.6v6.6h6.6v-6.6zm-1.6 5h-3.4v-3.4h3.4v3.4zM105.6 8.4h-5.4v5.4h5.4V8.4zm-1.3 4.1h-2.8V9.7h2.8v2.8zM107.1 5.2V0h-2v3.2h-4.3V0h-2v5.2zM122.1 98.7h-8.6v8.6h8.6v-8.6zm-2 6.6h-4.5v-4.5h4.5v4.5zM121.8 87.6h-7.9v7.9h7.9v-7.9zm-1.9 6h-4.1v-4.1h4.1v4.1zM120.3 84v-5h-5v5h5zm-3.8-3.8h2.6v2.6h-2.6v-2.6zM120.4 68.9h-5.1V74h5.1v-5.1zm-1.2 3.9h-2.7v-2.7h2.7v2.7zM119.9 63.5v-4.2h-4.2v4.2h4.2zm-3.2-3.2h2.2v2.2h-2.2v-2.2zM120.2 49h-4.7v4.7h4.7V49zm-1.2 3.6h-2.4v-2.4h2.4v2.4zM120.9 38.2h-6.2v6.2h6.2v-6.2zm-1.5 4.7h-3.2v-3.2h3.2v3.2zM114.9 28.4v5.8h5.8v-5.8h-5.8zm4.4 4.3h-3v-3h3v3zM121.2 17.9h-6.7v6.7h6.7v-6.7zm-1.6 5h-3.4v-3.4h3.4v3.4zM120.7 8.2h-5.8V14h5.8V8.2zm-1.4 4.4h-3v-3h3v3zM121.1 4.4V0h-1.6v2.8h-3.4V0h-1.5v4.4zM128.2 96.1h9.1V87h-9.1v9.1zm2.2-6.9h4.7v4.7h-4.7v-4.7zM136.9 77.4h-8.3v8.4h8.3v-8.4zm-2 6.3h-4.3v-4.3h4.3v4.3zM135 73.8v-4.6h-4.6v4.6h4.6zm-3.5-3.5h2.4v2.4h-2.4v-2.4zM135.5 58.7H130v5.5h5.5v-5.5zm-1.3 4.1h-2.8V60h2.8v2.8zM135.8 48.3h-6.2v6.2h6.2v-6.2zm-1.5 4.7h-3.2v-3.2h3.2V53zM130.4 39v4.7h4.7V39h-4.7zm3.5 3.5h-2.4v-2.4h2.4v2.4zM136.3 27.7h-7.1v7.1h7.1v-7.1zm-1.7 5.4h-3.7v-3.7h3.7v3.7zM136.2 17.7h-7v7h7v-7zm-1.6 5.3H131v-3.6h3.6V23zM134.7 9.2h-3.9v3.9h3.9V9.2zm-1 2.9h-2v-2h2v2zM136.9 5.2V0h-2v3.2h-4.3V0h-2v5.2zM151.2 95.1V88h-7.1v7.1h7.1zm-5.4-5.4h3.7v3.7h-3.7v-3.7zM143.7 85.5h7.9v-7.9h-7.9v7.9zm1.9-6h4.1v4.1h-4.1v-4.1zM144.4 74.8h6.6v-6.6h-6.6v6.6zm1.5-5h3.4v3.4h-3.4v-3.4zM145.2 58.9v4.9h4.9v-4.9h-4.9zm3.7 3.8h-2.6v-2.6h2.6v2.6zM143 56h9.2v-9.2H143V56zm2.3-7h4.8v4.8h-4.8V49zM150.9 44.6V38h-6.6v6.6h6.6zm-5-5h3.4V43h-3.4v-3.4zM152.2 26.7H143v9.2h9.2v-9.2zm-2.2 6.9h-4.8v-4.8h4.8v4.8zM150.4 18.5h-5.5V24h5.5v-5.5zm-1.3 4.1h-2.8v-2.8h2.8v2.8zM149.5 9.2h-3.8V13h3.8V9.2zm-.9 2.9h-2v-2h2v2zM149.5 3V0h-3.8v3h3.8zm-.9-2.9V2h-1.9V.1h1.9zM159.8 105.2h5.4v-5.4h-5.4v5.4zm1.3-4.1h2.8v2.8h-2.8v-2.8zM158.7 95.4h7.6v-7.6h-7.6v7.6zm1.9-5.8h4v4h-4v-4zM160.6 79.6v3.9h3.9v-3.9h-3.9zm2.9 2.9h-2v-2h2v2zM158.3 75.7h8.5v-8.5h-8.5v8.5zm2-6.4h4.4v4.4h-4.4v-4.4zM165.3 64.2v-5.6h-5.6v5.6h5.6zm-4.2-4.2h2.9v2.9h-2.9V60zM165.8 48.2h-6.4v6.4h6.4v-6.4zm-1.6 4.8h-3.3v-3.3h3.3V53zM159.8 38.6V44h5.4v-5.4h-5.4zm4.1 4.1h-2.8v-2.8h2.8v2.8zM165.9 27.9h-6.6v6.6h6.6v-6.6zm-1.6 5.1h-3.4v-3.4h3.4V33zM158.1 25.6h8.9v-8.9h-8.9v8.9zm2.1-6.7h4.6v4.6h-4.6v-4.6zM164.5 9.2h-3.9v3.9h3.9V9.2zm-.9 3h-2v-2h2v2zM164.4 3V0h-3.7v3h3.7zm-.9-2.9V2h-1.9V.1h1.9zM0 174.3v1.4h1.5v.3h1.4v-1.7zM2.9 164.2H0v1.4h1.5v3H0v1.4h2.9zM2.9 154.1H0v1.4h1.5v3H0v1.4h2.9zM3.6 143.4H0v1.7h1.9v3.7H0v1.7h3.6zM4.4 132.5H0v2.1h2.3v4.6H0v2.1h4.4zM4.2 122.7H0v2h2.2v4.3H0v2h4.2zM3.5 113.3H0v1.7h1.9v3.6H0v1.7h3.5zM3.6 103.2H0v1.7h1.9v3.7H0v1.7h3.6zM173.2 176h1.4v-.3h1.4v-1.4h-2.8zM173.2 170h2.8v-1.4h-1.4v-3h1.4v-1.4h-2.8zM173.2 159.9h2.8v-1.4h-1.4v-3h1.4v-1.4h-2.8zM172.6 150.5h3.4v-1.7h-1.7v-3.7h1.7v-1.7h-3.4zM171.7 141.3h4.3v-2.1h-2.2v-4.6h2.2v-2.1h-4.3zM171.9 131h4.1v-2h-2.1v-4.3h2.1v-2h-4.1zM172.6 120.3h3.4v-1.7h-1.7V115h1.7v-1.7h-3.4zM172.5 110.3h3.5v-1.7h-1.8v-3.7h1.8v-1.7h-3.5zM10.8 174.4v1.6h1.3v-.3h2.8v.3h1.3v-1.6zM9.1 171.5h8.8v-8.8H9.1v8.8zm2.1-6.7h4.6v4.6h-4.6v-4.6zM9.6 160.9h7.7v-7.7H9.6v7.7zm1.9-5.9h4v4h-4v-4zM10.2 143.7v6.6h6.6v-6.6h-6.6zm5 5h-3.4v-3.4h3.4v3.4zM9.1 141.4H18v-8.9H9.1v8.9zm2.1-6.8h4.6v4.6h-4.6v-4.6zM9.4 131h8.2v-8.2H9.4v8.2zm2-6.3h4.2v4.2h-4.2v-4.2zM9.6 120.7h7.8v-7.8H9.6v7.8zm1.9-5.9h4.1v4.1h-4.1v-4.1zM55.5 174.4v1.6h1.3v-.3h2.8v.3h1.3v-1.6zM55.7 169.6h5v-5h-5v5zm1.2-3.8h2.6v2.6h-2.6v-2.6zM56.3 155.1v3.9h3.9v-3.9h-3.9zm2.9 2.9h-2v-2h2v2zM55.6 149.6h5.2v-5.2h-5.2v5.2zm1.3-4h2.7v2.7h-2.7v-2.7zM56 139.2h4.5v-4.5H56v4.5zm1-3.5h2.3v2.3H57v-2.3zM56.2 124.9v4h4v-4h-4zm3 3h-2.1v-2.1h2.1v2.1zM54.5 120.5h7.3v-7.3h-7.3v7.3zm1.8-5.6h3.8v3.8h-3.8v-3.8zM53.8 109.7h8.8v-8.8h-8.8v8.8zm2.1-6.7h4.6v4.6h-4.6V103zM24.6 173.3v2.7h1.8v-.8h4v.8h1.8v-2.7zM24.5 171h7.8v-7.8h-7.8v7.8zm1.9-5.9h4v4.1h-4v-4.1zM25.3 160.2h6.3v-6.3h-6.3v6.3zm1.5-4.8H30v3.2h-3.2v-3.2zM25.5 144.1v5.8h5.8v-5.8h-5.8zm4.4 4.4h-3v-3h3v3zM24.2 141.1h8.4v-8.4h-8.4v8.4zm2-6.4h4.3v4.4h-4.3v-4.4zM25.8 129.5H31v-5.2h-5.2v5.2zm1.3-4h2.7v2.7h-2.7v-2.7zM26 119.2h4.8v-4.8H26v4.8zm1.2-3.6h2.5v2.5h-2.5v-2.5zM30.4 108.8v-4h-4v4h4zm-3-3.1h2.1v2.1h-2.1v-2.1zM41.2 175v1h4.2v-1zM39.6 170.8H47v-7.5h-7.5v7.5zm1.8-5.7h3.9v3.9h-3.9v-3.9zM40.6 159.7H46v-5.4h-5.4v5.4zm1.3-4.1h2.8v2.8h-2.8v-2.8zM40.8 144.5v5h5v-5h-5zm3.8 3.8H42v-2.6h2.6v2.6zM38.9 141.3h8.9v-8.9h-8.9v8.9zm2.1-6.7h4.6v4.6H41v-4.6zM39.8 130.4h7v-7h-7v7zm1.7-5.4h3.6v3.6h-3.6V125zM40.3 113.8v6h6v-6h-6zm4.6 4.6h-3.1v-3.1h3.1v3.1zM47.7 102.4h-8.8v8.8h8.8v-8.8zm-2.1 6.6H41v-4.5h4.5v4.5zM69.5 173.5v2.5h1.7v-.8H75v.8h1.8v-2.5zM70.2 170h5.9v-5.9h-5.9v5.9zm1.4-4.4h3v3h-3v-3zM75.2 159.1v-4.2H71v4.2h4.2zm-3.2-3.2h2.2v2.2H72v-2.2zM70.9 149.2h4.5v-4.5h-4.5v4.5zm1.1-3.4h2.3v2.3H72v-2.3zM71 134.8v4.2h4.2v-4.2H71zm3.2 3.2H72v-2.2h2.2v2.2zM69.1 130.8h8v-8h-8v8zm2-6h4.1v4.1h-4.1v-4.1zM76 119.7V114h-5.7v5.7H76zm-4.4-4.4h2.9v2.9h-2.9v-2.9zM85.1 174.2v1.8h1.4v-.4h3v.4h1.4v-1.8zM86.1 169h3.8v-3.8h-3.8v3.8zm.9-2.9h2v1.9h-2v-1.9zM84.3 160.8h7.5v-7.5h-7.5v7.5zm1.8-5.7H90v3.9h-3.9v-3.9zM91.4 150.3v-6.7h-6.7v6.7h6.7zm-5.1-5.1h3.5v3.5h-3.5v-3.5zM84.5 140.4h7v-7h-7v7zm1.7-5.3h3.6v3.6h-3.6v-3.6zM90.4 129.2v-4.7h-4.7v4.7h4.7zm-3.6-3.6h2.4v2.4h-2.4v-2.4zM90.5 114.3h-4.9v4.9h4.9v-4.9zm-1.2 3.8h-2.5v-2.5h2.5v2.5zM84.2 109.5h7.6v-7.6h-7.6v7.6zm1.9-5.7H90v3.9h-3.9v-3.9zM98.8 173v3h2v-1h4.3v1h2v-3zM100.1 169.9h5.7v-5.7h-5.7v5.7zm1.4-4.3h2.9v2.9h-2.9v-2.9zM98.4 161.5h9v-9h-9v9zm2.2-6.8h4.7v4.7h-4.7v-4.7zM105.1 149.2v-4.4h-4.4v4.4h4.4zm-3.3-3.4h2.3v2.3h-2.3v-2.3zM106.2 133.6h-6.6v6.6h6.6v-6.6zm-1.6 5h-3.4v-3.4h3.4v3.4zM107.4 122.4h-8.9v8.9h8.9v-8.9zm-2.2 6.8h-4.6v-4.6h4.6v4.6zM105.2 119.1v-4.6h-4.6v4.6h4.6zm-3.4-3.5h2.4v2.4h-2.4v-2.4zM107.1 101.5h-8.4v8.4h8.4v-8.4zm-2 6.4h-4.3v-4.3h4.3v4.3zM114.6 173.9v2.1h1.5v-.6h3.4v.6h1.6v-2.1zM114.9 170h5.9v-5.9h-5.9v5.9zm1.4-4.4h3v3.1h-3v-3.1zM115.7 154.9v4.3h4.3v-4.3h-4.3zm3.2 3.2h-2.2v-2.2h2.2v2.2zM113.3 151.5h9.1v-9.1h-9.1v9.1zm2.2-6.9h4.7v4.7h-4.7v-4.7zM120.4 139.4v-5.1h-5.1v5.1h5.1zm-3.9-3.8h2.6v2.6h-2.6v-2.6zM121.4 123.3h-7.2v7.2h7.2v-7.2zm-1.7 5.4H116V125h3.7v3.7zM115.3 114.3v5h5v-5h-5zm3.8 3.8h-2.6v-2.6h2.6v2.6zM128.6 173v3h2v-1h4.3v1h2v-3zM129.7 170.1h6v-6h-6v6zm1.5-4.6h3.1v3.1h-3.1v-3.1zM128.5 161.3h8.5v-8.5h-8.5v8.5zm2-6.5h4.4v4.4h-4.4v-4.4zM128.9 150.8h7.7v-7.7h-7.7v7.7zm1.8-5.8h4v4h-4v-4zM129 140.6h7.4v-7.4H129v7.4zm1.8-5.6h3.8v3.8h-3.8V135zM135.9 130v-6.3h-6.3v6.3h6.3zm-4.8-4.8h3.3v3.3h-3.3v-3.3zM136.1 113.5h-6.7v6.7h6.7v-6.7zm-1.6 5H131V115h3.5v3.5zM128.4 109.4h8.7v-8.7h-8.7v8.7zm2.1-6.6h4.5v4.5h-4.5v-4.5zM145.8 175.3h3.8v.8h-3.8zM143.9 170.8h7.5v-7.5h-7.5v7.5zm1.8-5.7h3.9v3.9h-3.9v-3.9zM144.5 160.2h6.4v-6.4h-6.4v6.4zm1.5-4.8h3.3v3.3H146v-3.3zM144.8 149.8h5.7v-5.7h-5.7v5.7zm1.4-4.3h3v3h-3v-3zM150 139.3v-4.7h-4.7v4.7h4.7zm-3.6-3.6h2.4v2.4h-2.4v-2.4zM150.2 124.3h-5v5h5v-5zm-1.3 3.9h-2.6v-2.6h2.6v2.6zM150.5 113.9h-5.7v5.7h5.7v-5.7zm-1.4 4.4h-3v-3h3v3zM143.1 109.7h9.2v-9.2h-9.2v9.2zm2.2-7h4.7v4.7h-4.7v-4.7zM160.7 175.3h3.7v.8h-3.7zM160.6 169h3.8v-3.8h-3.8v3.8zm1-2.9h2v2h-2v-2zM160 159.5h5v-5h-5v5zm1.3-3.8h2.6v2.6h-2.6v-2.6zM160.4 144.9v4.2h4.2v-4.2h-4.2zm3.2 3.2h-2.2v-2.2h2.2v2.2zM159.8 139.6h5.4v-5.4h-5.4v5.4zm1.4-4.1h2.8v2.8h-2.8v-2.8zM159.9 129.5h5.3v-5.3h-5.3v5.3zm1.3-4h2.7v2.7h-2.7v-2.7zM160 114.3v5.1h5.1v-5.1H160zm3.9 3.8h-2.6v-2.6h2.6v2.6z'/%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
}

h1,
h2,
h3 {
    font-weight: 700;
}

header,
section,
footer {
    max-width: 1500px;
    margin: 0px auto;
}

.container {
    max-width: 800px;
}

.collapsing {
    transition: none !important;
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.gold {
    color: #ffb300;
}

.green-bg {
    position: relative;
    padding: 40px 20px;
    background: #487F62;
    color: #fff;
    text-align: center;
}

.btn-gold {
    background: #ffb300;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
}

.btn-gold:hover {
    background: #fff;
}


.masthead {
    position: relative;
}

.masthead img {
    max-width: 100%;
}

.masthead-content {
    position: relative;
    padding: 40px 20px;
    background: #487F62;
    color: #fff;
    text-align: center;
}

.masthead .logo {
    max-width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.subhead {
    background: #222;
    padding: 20px
}

.subhead .logo {
    max-width: 300px;
}

.programs,
.form,
.thanks {
    background: #fff;
    padding: 40px 10px 60px;
}

.card {
    border: none;
    border-bottom: 1px solid #f2f2f2 !important;
}

.card-header {
    background: none;
    font-weight: 700;
    padding: 15px;
    font-size: 18px;
}

.card-header a {
    color: inherit;
    display: block;
}

.card-header a:hover {
    color: #487F62;
    text-decoration: none;
}

.card-header [aria-expanded="true"] .fa {
    transform: rotate(135deg);
}

.card-header .fa {
    transition: 300ms transform ease-in-out;
    float: right;
    line-height: 1.5;
    font-size: 20px;
}

.collapse {
    background: #f2f2f2;
}

.btm-content {
    position: relative;
    padding: 40px 20px;
    background: #487F62;
    color: #fff;
    text-align: center;

}

.thanks {
    text-align: center;
}



footer {
    background: #222;
    color: #ccc;
    padding: 20px;
    font-size: 18px;

}

footer p {
    margin-bottom: 5px;
}

footer a {
    color: inherit;
    font-weight: 700;
    transition: 200ms ease;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 997px) {
    .masthead .logo {
        max-width: 400px;
        left: 30px;
        top: 30px;
    }

    .masthead-content {
        position: absolute;
        left: 30px;
        top: 32vw;
        max-width: 500px;
        background: rgba(72, 127, 98, 0.9);
        color: #fff;
    }
    
    .card-header {
        font-size: inherit;
    }

    .btm-content {
        font-size: 24px;
    }

    .btm-content .title {
        font-size: 40px;
    }

    footer {
        padding: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .masthead-content {
        top: 36vw;
    }
}
@media screen and (min-width: 1400px) {
    .masthead-content {
        top: 30vw;
    }
}